<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Título de la WEB</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">    
    
    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
<script>

</script>
  </head>  
 <body onload="rotar_imagen();">
    <img id="myImg" border="1" alt="Este es el ejemplo de un texto alternativo" width="400" height="300"/>
    

    <script type="text/javascript">
           //const firebase=null;
  var config = {
    apiKey: "AIzaSyAWe_eDwVTwISgCcCDy5PPxW4bZlq6sHCQ",
    authDomain: "tfg-findegrado.firebaseapp.com",
    databaseURL: "https://tfg-findegrado.firebaseio.com",
    projectId: "tfg-findegrado",
    storageBucket: "tfg-findegrado.appspot.com",
    messagingSenderId: "281469807949"
  };
  firebase.initializeApp(config);
 
  const firestore = firebase.firestore();
  const settings  = {timestampsInSnapshots: true};
  firestore.settings(settings);
 
  setInterval("rotar_imagen()",50);
  function rotar_imagen(){
    var img = document.getElementById('myImg');
    //img.src ="file:///home/a/Escritorio/mierda/Subir%20Imagen%20Python/frame0.jpg?"+Math.random();
    img.src ="cam.jpg?"+Math.random();

  }
  </script>
  </body>  
</html>