<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <% include ../views/head.ejs %>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <section class="jumbotron text-center">
        <form  class="container" role="form" accion="/verify" method="GET">
          <div class="row">
            <button class="btn btn-secondary my-2 col-sm-4" type="button" id="btnCheckF">Check footprint</button>
            <p id="pCheckFText" class="col-sm-7" ></p>
            <div id="divCheckFRed" class="col-sm-1 button-red"></div>
          </div>
          <div class="row form-group">
            <button class="btn btn-secondary my-2 col-sm-4" type="button" disabled="true" id="btnCheckI">Check Image</button>
                 <p id="pCheckIText" class="col-sm-7" ></p>
                <div id="divCheckIRed" class="col-sm-1 button-red"></div>
          </div>
          <div class="row form-group">
            <button class="btn btn-primary my-2 col-sm-4" type="submit" disabled="true" id="btnOpenDoor">Open the Door</button>
          </div>
          </form>
      </section>
    </main>
    <script src="/javascripts/getIn.js"></script>
  </body>
</html>
