<html>
  <head>
    <% include ../views/head.ejs %>
    <!--Load the AJAX API-->
  </head>

  <body  class="text-center">
    <% include ../views/navAdm.ejs %>
    <!--Div that will hold the pie chart-->
    <div class="row">
      <div class="col-sm-4">
         <button class="btn btn-secondary my-2 col-sm-8 mb-3" type="button" id="btnNum1">Check footprint</button>
         <button class="btn btn-secondary my-2 col-sm-8 mb-3" type="button" id="btnNum2">Check footprint</button>
         <button class="btn btn-secondary my-2 col-sm-8 mb-3" type="button" id="btnNum3">Check footprint</button>
         <button class="btn btn-secondary my-2 col-sm-8 mb-3" type="button" id="btnNum4">dddCheck footprint</button>
      </div>
      <div class ="col-sm-8" id="graphics"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="javascripts/graphics.js"></script>
  </body>
</html>