    <title><%= title %></title>
    <meta charset="utf-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"-->
    <meta name="description" content="Página para el sistema de control de acceso seguro">
    <meta name="author" content="JAIRO GONZALEZ LEMUSsss">
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.iconify.design/1/1.0.0-rc7/iconify.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">