<!DOCTYPE html>
<html lang="en">
<head>
     <% include ../views/head.ejs %>
     <!-- Custom styles for this template -->
      <link href="/stylesheets/video.css" rel="stylesheet">
     <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAWe_eDwVTwISgCcCDy5PPxW4bZlq6sHCQ",
        authDomain: "tfg-findegrado.firebaseapp.com",
        databaseURL: "https://tfg-findegrado.firebaseio.com",
        projectId: "tfg-findegrado",
        storageBucket: "tfg-findegrado.appspot.com",
        messagingSenderId: "281469807949"
      };
      firebase.initializeApp(config);
function subirImagen(){
    
    var fichero = document.getElementById("imagen");
    console.log(fichero.files[0])
     var imagenSubir = fichero.files[0];
     console.log(imagenSubir);
     console.log(imagenSubir.name)
     storageRef = firebase.storage().ref("imagenes/" + imagenSubir.name ) // directorio raiz
    // storageRef = firebase.storage.ref()// hijo del direcctorio raiz
     var uploadTAsk = storageRef.put(imagenSubir)
     
     console.log("Estoy en subir imagen");
     console.log(uploadTAsk)
   // console.log("Respuesta" + uploadTAsk)
}
    </script>
 
</head>
<body>
  <% include ../views/navAdm.ejs %>
  <main class="container">
    <div class="py-5 text-center">
       <h2>Insertar un nuevo usuario en el sistema</h2>
       <p class="lead">Para poder insertar un nuevo usuario en el sitema seguir paso a paso el proceso y presional alfinal registras. Tiene un tiempo limitado sino volvera a tener que relizar el 
        proceso.</p>
      </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
          <form role="form">
            <h4 class="row mb-3">1. Personal information.</h4>
              <div class="row form-group">
                <div class="col-md-4 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First name" required >
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                   <label for="address">Work position</label>
                   <input type="text" class="form-control" id="workPosition" placeholder="Work position" required>
                   <div class="invalid-feedback">
                   Please enter your shipping address.
                   </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4 mb-3">
                 <label for="email">Email</label>
                 <input type="email" class="form-control" id="email" placeholder="you@example.com">
                 <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
                </div>
                <div class="col-md-8 mb-3">
                   <label for="address">Other info(Opcional)</label>
                   <textarea rows="4" cols="50" type="text" class="form-control" id="OtherInfo" placeholder="Other Info"></textarea>
                   <div class="invalid-feedback">
                   Please enter your shipping address.
                 </div>
                </div>
            </div>
              <div class="row form-group">    
                  <button class="btn btn-secondary btn-lg btn-block col-sm-4" onsubmit="false;" type="submit" id="btnAddData" >Add Personal Data</button>
                  <p id="pDataText" class="col-sm-6" ></p>
                  <div id="divDataRed" class="col-sm-1 button-red"></div>
                  <div class="col-sm-1"></div>
              </div>
            </form>
            <hr class="mb-4">
            <h4 class="mb-3">2. Insert footprint.</h4>
            <div class="row"> 
                <button class="btn btn-secondary btn-lg btn-block col-sm-4"  type="button" id="btnAddFootprint">Add Footprint</button>
                <p id="pFootprintText" class="col-sm-6" ></p>
                <div id="divFootprintRed" class="col-sm-1 button-red"></div>
                <div class="col-sm-1"></div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">3. Insert photography.</h4>
            <div class="row mb-3"> 
                 <div class="col-sm-6"> 
                    <div class="row"> 
                      <video class="col-sm-12" id="video" src="blob:https://www.onlinemictest.com/9e7d9bd6-b6d8-4850-9787-5ded8d403048" muted autoplay>
                         Tu navegador no es compatible con la etiqueta video de HTML5.
                         <canvas id="canvas"></canvas>
                      </video>     
                      
                    </div>
                    <div class="row"> 
                       <div class="col-sm-4"></div>
                       <button id="btnTakePhoto" type="button" class="btn btn-success col-sm-4">Take photo</button> 
                       <div class="col-sm-4"></div>
                    </div>
                 </div>
                 <div class="col-sm-6">
                   <img class="img-responsive" src="images/face.png" id="photo" alt="photo">
                 </div>
            </div>
            <div class="row">    
                <button class="btn btn-secondary btn-lg btn-block col-sm-4 " type="button" id="btnAddImage">Add Image</button>
                <p id="pImageText"class="col-sm-6" ></p>
                <div id="divImageRed" class="col-sm-1 button-red"></div>
                <div class="col-sm-1"></div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">4. Registration .</h4>
            <button class="btn btn-primary btn-lg btn-block" onclick="subirImagen()" type="submit" id="btnRegister" >Register user</button>
        </div>
      </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="/javascripts/newUser.js"></script>
  <script src="/javascripts/video.js"></script>

</body>
</html>
