body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

strong{
   color: black;
}
a {
  color: #00B7FF;
}


	.button-red {
		border-width: 20px;
		border-style: outset;
		border-color: red;
		background-color:red;
	}